@import url('https://fonts.googleapis.com/css?family=Alegreya+SC|Rochester');
/*
    Brown: #69260b
    Teal: #79a999
    yellow: #f0dfa7
*/

/* ---------------- General */
* {
    /* transition-duration: .5s; */
}
html {
    box-sizing: border-box;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Alegreya SC', serif;
}
.cursive {
    font-family: 'Rochester', cursive;
}

/* ---------------- Navigation */
nav {
    background-color: #1b0802
}
.navbar-brand span {
    font-family: 'Alegreya SC', serif;
    font-size: 1.6rem;
}
nav a {
    color: white;
}
nav a:hover {
    color: #f0dfa7;
}

/* ---------------- Header/Title Section */
header {
    background-image: linear-gradient(#7fc1ec, white);
}
header section {
    /* margin-top: 56px; */
    height: 90vh;
}
header section [class*="col"]{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
header section img {
    max-width: 290px;
    transform: translate(0, -25px);
    z-index: 5;
}
h1 {
    display: inline-block;
    letter-spacing: 3px;
    /* width: 90%; */
    color: #1b0802;
    font-size: 3.5rem;
    max-width: 610px;
    border: 1px solid rgb(27, 8, 2);
}
h1 span, header p {
    font-size: 2rem;
}
header p {
    letter-spacing: 3px;
}
.floating {  
    animation-name: floating;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    50% { transform: translate(0, -30px); }
    to { transform: translate(0, -0px); }    
}

/* ---------------- Buy Now Section */
#buy-now {
    background-color: #fff2c2;
}
#buy-now h2 {
    position: relative;
    font-weight: 600;
    color: #aa7560;
    letter-spacing: 1px;
}
.underline::after {
    display: inline-block;
    content: "";
    background-color: #79a999;
    height: 2px;
    width: 70px;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
}
#buy-now img {
    box-shadow: 3px 5px 40px 1px rgba(27, 8, 2, 0.7);
}
.buy-form p {
    font-size: 1.5rem;
}
.price {
    font-family: 'Alegreya SC', serif;
    font-size: 2.5rem;
    color: #5b9280;
}
.form-group {
    margin-bottom: 3px;
}
button.btn {
    background-color: #69260b;
    color: white;
    font-family: 'Alegreya SC', serif;
    font-size: 1.5rem;
    max-width: 200px;
}
button:hover {
    background-color: #79a999;
}

/* ---------------- Quotes Section */
#quotes {
    font-family: 'Rochester', cursive;
    font-size: 3rem;
    color: #1b0802;
    text-align: center;
    background-color: #97c5b6;
    background-image: url("../images/tiles-dark.png");
    min-height: 300px;
}
blockquote {
    margin-bottom: 0;
}
.carousel-item {
    padding-bottom: 30px;
}
.quote-mark {
    color: #b9e6d6;
    font-size: 10rem;
    line-height: 0;
    position: relative;
    top: 70px;
}

/* ---------------- Author Aside */
aside [class*="col"]:first-child {
    background-image: url('../images/Milan_Kundera.jpg');
    background-size: cover;
    background-position: center;
}
aside h2.underline::after {
    left: 0;
    transform: none;
    bottom: 0;
}

/* ---------------- Header "Snow" */
::-webkit-scrollbar { 
    display: none; 
}
.snowflake {
    position: absolute;
    display: block;
    position: absolute;
    top: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-image: -webkit-radial-gradient(
        center,
        circle farthest-corner,
        rgba(255, 255, 255, 1) 40%,
        rgba(255, 255, 255, 0) 100%
    );
    background-image: -moz-radial-gradient(
        center,
        circle farthest-corner,
        rgba(255, 255, 255, 1) 40%,
        rgba(255, 255, 255, 0) 100%
    );
    background-image: -ms-radial-gradient(
        center,
        circle farthest-corner,
        rgba(255, 255, 255, 1) 40%,
        rgba(255, 255, 255, 0) 100%
    );
    background-image: radial-gradient(
        center,
        circle farthest-corner,
        rgba(255, 255, 255, 1) 40%,
        rgba(255, 255, 255, 0) 100%
    );
}
#snow {
    position: relative;
    overflow: hidden;
}


/* ---------------- Tabs Section */
#tabs {
    background-image: url('../images/prague.jpg');
    background-position: center;
    background-size: cover;
}
.info-body {
    background-color: #fff2c2;
    border-radius: 0 5px 5px 5px;
    box-shadow: 0 0 50px 5px rgba(105, 38, 11, 0.5);
}
#tabs .nav {
    border: none;
}
#tabs .nav-link {
    background-color: #ff9b6d;
    border: none;
    margin-right: 10px;
    font-family: 'Alegreya SC', serif;
    color: #69260b;
    font-size: 1.5rem;
    font-weight: 600;
}
#tabs .nav-link:hover {
    cursor: pointer;
}
#tabs .nav-link.active {
    background-color: #fff2c2;
}
.review h4 {
    color: #5b9280;
    font-weight: 600;
}
.review cite {
    color: #aa7560;
    font-family: 'Rochester', cursive;
    font-size: 1.5rem;
    font-weight: 400;
    margin-left: 5px;
}
#other-books a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #69260b;
    text-decoration: none;
}